################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mutagen.Target.cs
/MutagenEditor.Target.cs
/MutagenEditor.Target.cs
/Mutagen.Target.cs
